/** Commun font etc.. **********************************/
h1{
    font-size: 1.38em;
    font-weight: 700;
    margin-left: 55px;
}
h2{
    font-size: 1em;
    font-weight: 700;
}

p.texte {
    font-size: 1em;
    font-weight: 400;
}
body {
    font-family: 'Raleway', sans-serif;

    }
div #wrapper {
    max-width: 1440px;
}
/** Header **********************************/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}

#logoH {
    width:60px;
    margin :44px 0 0 55px;
}

header nav ul li {
    display: inline;
    list-style: none;    

}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 40px 30px 0 30px;
}

header nav ul li a:hover {
    color: #0065fc;
    border-top: solid 2px;    
}
/** Recherche **********************************/
section#recherche {padding: 0 0 0 49px;}
/*section#recherche div#rechercheGauche {}*/
section#recherche h1 {margin:0 0 0 0;}
section#recherche p.texte { margin: 7px 0 0 6px;}
/*section#recherche div#boutonRecherche input#ville {
    }*/
